
main {
    position: relative;
    width: 90%;
    height: 700px ;
    background-color: #c5dbf2;
    margin: auto;
}

#cabecalho {
    position: relative;
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#meio {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: rgb(178, 65, 157);
    margin: auto;
}

#rodape {
    position: relative;
    width: 100%;
    height: 35px;
    background-color: rgb(144, 24, 130);
    margin: auto;
}

#menu {
    position:relative;
    width: 35%;
    height: auto;
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;

}

#menu a {
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


#logo {
    position: relative;
    width: 30%;
    height: 50px;
    
    text-align: center;
}

#menu_direito {
    position: relative;
    width: 45%;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.link1 {
    width: 100px;
    height:50px;

}

.link2 {
    text-align: center;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    height: auto;

    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

.link3 {
    text-align: center;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5c8ec4;
    width: 200px;
    height: auto;
 
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}